.bingo-container {
    text-align: center;
}

.bingo-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden; /* Ensure the image doesn't overflow the box */
    z-index: 1;
    background-size: cover;
}


.bingo-box img {
    max-width: 20%; 
    max-height: 20%; 
   background-color: azure;
}

#winner-message {
    font-weight: bold;
    color: green;
}


